.game {
  width: 600px;
  height: 200px;
  border: 4px solid rgb(255, 255, 255);
  margin: auto;
  background-image: url("../images/elenesbackground.jpeg");
  background-size: 600px, 200px;
  position: relative;
}

#dino {
  width: 50px;
  height: 50px;
  /* background-image: url("../images/Pixel\ Cat\ resized.png"); */
  background-size: 50px 50px;
  position: relative;
  top: 150px;

}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
      top: 150px;
  }

  30% {
      top: 130px;
  }

  50% {
      top: 80px;
  }

  80% {
      top: 130px
  }

  100% {
      top: 150px;
  }
}

#cactus {
  width: 20px;
  height: 40px;
  position: relative;
  top: 110px;
  left: 580px;

  background-image: url("../images/cactus.png");
  background-size: 20px 40px;

  animation: block 1s infinite linear;
}

@keyframes block {
  0% {
    left: 580px;
  }

  100% {
    left: -20px;
  }
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2px; /* Adjust the height to fill the desired vertical space */
}


#BunnyB,
#FrogB,
#CatB{
  background-color: #b91111;
  width: 50px;
  float: left;
  border: none;
  top: 10px;
  color: rgb(255, 255, 255);
  padding: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 8px 2px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

body{
  background-image: url("../images/paper.png");
}

  

h1{
  padding: 25px 50px 75px 100px;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  color: #fff;
  animation: flicker 0.2s,infinite alternate;
  text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722
  
}
              
              @keyframes flicker {
                50% {
                  opacity: 1000;
                }
                50% {
                  opacity: 50;
                  text-shadow: none;
                }
                100% {
                  opacity: 1000;
                  text-shadow: 0 0 10px #ff00b3;
                }
              }
                
              @keyframes laserBeam {
                30% {
                  opacity: 1 var(10)
                  transform scaleY var (10) ;
                }
              } 
              
              h1 {
                  color: #de05f2;
                  position: relative;
                  font-size: 40px;
                  font-family: 'Arial', sans-serif;
                  color: #55ff00;
                  text-shadow: 10px #FF0000;
                  animation: flicker .0001s infinite alternate;
                }
                
                @keyframes flicker {
                  50% {
                    opacity: 1000;
                  }
                  50% {
                    opacity: 50;
                    text-shadow: none;
                  }
                  100% {
                    opacity: 1;
                    text-shadow: 0 0 10px #ff00b3;
                  }
                
                  
                } 
               




#gameoverscreen{
text-align: center;
color: #de1818;
font-size: 25px;
font-weight: bold;
}
.num{
text-align: center;
color:#cf0707;
font-size: 25px;
font-weight: bold;
}
#playagain{
text-align: center;
color: #07b1cf;
font-size: 25px;
font-weight: bold;
}

h3{
  text-align: center;
  margin-top: -40px;
  margin-bottom: 50px;
  font-family: sans-serif;
  letter-spacing: 0.15rem;
  color: #000000;
  padding-bottom: 40px;
}
img.babycat{
  width: 150px;
  height: 100px;
  object-fit: cover;
  position:absolute;
  margin-left: 600px;
  margin-top: -65px;
  transform: rotate(-17deg);

}

img.babybunny{
  width: 150px;
  height: 100px;
  object-fit: cover;
  position:absolute;
  margin-left: 400px;
  margin-top: -65px;
  transform: rotate(-12deg);

}


img.babyfrog{
  width: 150px;
  height: 100px;
  object-fit: cover;
  position:absolute;
  margin-left: 850px;
  margin-top: -90px;

}

.container{
  padding: 50px;
  margin-bottom: 50px;
  border: solid 1px #4b0343;
  background-color: #3c0566a4;
  margin-top: 30px;
}


h4{
  text-align: center;
  font-family: sans-serif;
  letter-spacing: 0.150rem;
  color: #000000;
}